﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<form action="/" method="post">
        姓名: <input type="text" name="name" value="" /><br />
        帳號: <input type="password" name="name" value="" /><br />
        密碼: <input type="password" name="name" value="" /><br />
        姓別: <input type="radio" name="name" value="" />男性 <input type="radio" name="name" value="" />女性  <br />
        興趣: <input type="checkbox" name="name" value="" />游泳 <input type="checkbox" name="name" value="" />閱讀<input type="checkbox" name="name" value="" />看電影
        <br />自我介紹:
        <br />

        <textarea></textarea>




    </form>*@
@*@using (Html.BeginForm())
    {
    <div>
        姓名: @Html.TextBox("account") <br />
        帳號: @Html.Password("pwd") <br />
        姓別: @Html.RadioButton("gender", "1") boy @Html.RadioButton("gender","0") girl <br />
        興趣: @Html.CheckBox("swim")swim @Html.CheckBox("read") read
        自我介紹: @Html.TextArea("about","i am a student") <br />
        )
    </div>
    }*@

@{
    var message = "123";

}
<p>@message</p>
@{
    var success = false;
}

@if (success == true)
{
    <p>成功</p>
}
else
{
    <p>失敗</p>
}
